# Application
APP_ENV=dev
PORT=3000

# Holodex API
HOLODEX_API_KEY=

# YouTube API
YOUTUBE_API_KEY=

# DynamoDB
DYNAMODB_ENDPOINT=http://localhost:8000
DYNAMODB_REGION=local

# Discord Webhook URLs
DISCORD_ADMIN_WEBHOOK_URL=
DISCORD_NOTIFICATION_WEBHOOK_URL=

# Backend Host
BACKEND_HOST=

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

CALL_YOUTUBE=false

# Number of songs to pick
SONGS_TO_PICK=50